*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
 
  width: 100%;
  padding: 20px 5%;
  background-color: whitesmoke;
  display: flex;
  font-family: Georgia, 'Times New Roman', Times, serif;
  justify-content: space-between;

  
}

input{
  width: 20%;
  padding: 10px;
  font-size: 17px;
  border-radius: 5px;
  outline: none;
  border: 1px solid grey;
}


.news{
  width: 22%;
  padding: 20px;
 
  background-color: lightgray;
  display:flex;
  flex-direction: column;
  row-gap: 12px;
  border-radius: 5px;
 
}

.news-articles{
  width: 100%;
  padding: 30px 5%;
  background-color:#f2f2f2;
  display: flex;
  column-gap: 4%;
  flex-wrap: wrap;
  row-gap: 20px;
}

.news-img{
  width: 100%;
  height: 200px;
  background: blue;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url('https://gambrinus.hu/packages/gambrinus/images/no_img.jpg');
  
}
.news-img img{
  max-width: 100%;
  height: 100%;
  
}

.news:hover{
  
  scale:0.9;
  z-index: 11;
}

.source{
  display: flex;
  justify-content: space-between;
  color:grey ;
}

@media (max-width:455px){
  .news-articles{
    flex-direction: column;
  }
  .news{
    width: 300px;
  }
  input{
    width: 130px;
  }
}